In [1]:
import numpy as np
import sklearn
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
df = pd.read_csv('C:/Users/forre/Desktop/Python/datasets/datasets-master/Sacramento.csv')

df.head()

,city,zip,beds,baths,sqft,type,price,latitude,longitude
0,SACRAMENTO,z95838,2,1.0,836,Residential,59222,38.631913,-121.434879
1,SACRAMENTO,z95823,3,1.0,1167,Residential,68212,38.478902,-121.431028
2,SACRAMENTO,z95815,2,1.0,796,Residential,68880,38.618305,-121.443839
3,SACRAMENTO,z95815,2,1.0,852,Residential,69307,38.616835,-121.439146
4,SACRAMENTO,z95824,2,1.0,797,Residential,81900,38.519470,-121.435768

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.isnull().sum()

city         0
zip          0
beds         0
baths        0
sqft         0
type         0
price        0
latitude     0
longitude    0
dtype: int64

In [5]:
df.dtypes

city          object
zip           object
beds           int64
baths        float64
sqft           int64
type          object
price          int64
latitude     float64
longitude    float64
dtype: object

In [6]:
df.corr()

               beds     baths      sqft     price  latitude  longitude
beds       1.000000  0.656772  0.715908  0.463412 -0.053628   0.083685
baths      0.656772  1.000000  0.760752  0.575642  0.047232   0.179917
sqft       0.715908  0.760752  1.000000  0.767361  0.042249   0.236446
price      0.463412  0.575642  0.767361  1.000000  0.154808   0.363023
latitude  -0.053628  0.047232  0.042249  0.154808  1.000000   0.382347
longitude  0.083685  0.179917  0.236446  0.363023  0.382347   1.000000

In [7]:
x = df[["beds", "baths", "sqft"]]
y = df["price"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.5)

In [9]:
X_train.shape

(466, 3)

In [10]:
X_test.shape

(466, 3)

In [11]:
sacra = LinearRegression()

sacra.fit(X_train, y_train)

LinearRegression()

In [12]:
sacra.score(X_test, y_test)

0.5614982631271846

In [13]:
sacra.score(X_train, y_train)

0.6520186384159066

In [14]:
y_pred = sacra.predict(X_test)

In [15]:
metrics.mean_absolute_error(y_test, y_pred)

64413.49951285098

In [16]:
metrics.mean_squared_error(y_test, y_pred)

8432317127.988163

In [18]:
print(sacra.intercept_)
print(sacra.coef_)

46114.60024129448
[-24282.15008132  -1495.91568054    169.070027  ]

In [19]:
print(sacra.predict(X_test.head()))

[168062.53566942 235949.26486825 212786.67116858 417530.47387147
 392774.5721965 ]

In [20]:
sacra.coef_

array([-24282.15008132,  -1495.91568054,    169.070027  ])

In [21]:
np.exp(sacra.coef_)

array([0.00000000e+00, 0.00000000e+00, 2.66796288e+73])

In [22]:
from sklearn.neural_network import MLPClassifier

In [31]:
mlp = MLPClassifier(hidden_layer_sizes=(4, 2), random_state=42, max_iter=2000)

In [32]:
mlp.fit(X_train, y_train)

MLPClassifier(hidden_layer_sizes=(4, 2), max_iter=2000, random_state=42)

In [33]:
mlp.score(X_train, y_train)

0.012875536480686695

In [34]:
mlp.score(X_test, y_test)

0.002145922746781116